@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }
}
body, header {
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar {
  background-color: #a57c52; 
  color: white;
  padding: 10px 20px;
  display: flex; 
  justify-content: flex-end; 
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  transition: color 0.3s ease, transform 0.3s ease; /* Transition pour la couleur et la transformation */
}
.nav-link:hover {
  color: #FBB911; 
}
.navbar-logo {
  height: 60px;
  margin-left: 0; 
  margin-right: auto; 
}
.navbar-logo:hover {
  transform: scale(1.1);
}
.imagelogo {
  text-align: center; 
  margin-top: 0px; 
}
.logo {
  max-width: 400px; 
  display: block;   
  margin: 0 auto;   
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: rgb(243, 225, 194);
}
h1 {
  font-weight: 700;
  text-align: center;
}
a {
    text-decoration: none;
    color: #fcfcfc;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 15px;
}
.infos li {
  font-size: 16px;
  list-style: none;
}

.horaires li {
  font-size: 16px;
  list-style: none;
}
.btn {
  background-color: #507A2E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #2b4715;
  transform: scale(1.1);
}
.footer {
  background-color: #a57c52;
  color: white;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.link-footer:hover {
  color: #FBB911;
}
.socialmedia {
  display: flex;
  justify-content: flex-end;
  gap: 15px; 
  margin-right: 20px;
}
.socialicon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, filter 0,3s ease;
  transform-origin: center;
}

.socialmedia:hover {
  transform: scale(1,2);
  filter: brightness(1.2);
}